*.o
*.obj
*.exe
*~
*.autosave
*.pro.user
*.pro.user.*
*.txt.user
*.txt.user.*
bin/*
obj/*
*.layout
*.depend
/build
/drwebmirror
/xmlzone
/android
/unix
/x86
/x64
/500
/444
/433
/servers
/windows
/livecd
/wince
/netware

